.homeInfoBox {

    margin: 10% auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.homeInfoBox > img {
  width: 50%;
  height:500px;
  border-radius: 20%;

}
.homeInfoBox > div {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 60px;
}
.homeInfoBox > div > span {
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.homeInfoBox > div > button {
  cursor: pointer;
  width: 177px;
  height: 52px;
  font-weight: bolder;
  font-size: 16px;
  padding: 16px 51px 16px 50px;
  border-radius: 30px;
  background: #faff00;
}



@media (max-width:780px){
  .homeInfoBox{gap: 20px;}
 .homeInfoBox>img{width: 60%;
height: 350px;
}
.homeInfoBox>div>span{
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
}


@media (max-width:500px){
  .homeInfoBox{gap: 20px;
  }
 .homeInfoBox>img{width: 50%;
height: 250px;
}
.homeInfoBox>div>span{
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
}

@media (max-width:380px){
  .homeInfoBox{gap: 20px;
  }
 .homeInfoBox>img{width: 35%;
height: 180px;
}
.homeInfoBox>div>span{
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
  
}