.sidebarContainer{
    display: flex;
    align-items: center ;
    justify-content: flex-end;
    gap: 20px;
    color: rgb(255, 255, 255);
    
  }
  .sidebar {
    margin-top: 30px;
    position: absolute;
    z-index: 1;
    top: 40px;
    right: 0px;
      width: 200px;
      height: 100%;
      background-color: #000000;
      transition: transform 0.3s ease-in-out;
      transform: translateX(200px);
    border-radius: 10px;
  
    }
    
    .sidebar.open {
      transform: translateX(0);
    }
    
    .toggle-button {
      position: absolute;
      z-index: 1;
      top: -0px;
      right: 0px;
      background-color: #ffffff;
      color: #020202;
      border: none;
      padding: 10px;
      cursor: pointer;
      margin: 10px;
      border-radius: 10px;
    }
    
    .menu {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
    
    .menu li {
      padding: 10px;
      border-bottom: 1px solid #ccc;
    }
    
    /* .menu li:last-child {
      border-bottom: none;
    } */
    
 
  
    @media (min-width: 750px) {
     .toggle-button{
      display: none;
     }
     .sidebar{display: none;}
   }
      
      @media (max-width: 750px){
        .toggle-button{
          display: flex;
         }
     .sidebar{display: inline-block;}

      }
   